*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
